 <h1>this isint working :D!</h1>
<p>The time is <%= Time.now %></p>

<h1>videogames</h1>
<ul>
  <% videogames.each do |videogame| %>
    <li>
      <%= videogame[:name] %>
      <%= videogame[:rating] %>
      (<%= videogame[:console] %>)
      <form action="/delete/<%= videogame[:id] %>" method="post" class="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">Add your favorit video games here :P</a></p>
